@charset "UTF-8";

:root {
    --cor1: #FFFFFF;
    --cor2: #FF0000;
    --cor3: #770000;
    --cor4: #009370;
    --cor5: #FFCB2E;
    --cor6: #666;
}

* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

h2 {
    color: #666;
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    padding-top: 5%;
    text-transform: capitalize;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-right: 120px;
    margin-left: 120px;
    justify-content: center;
    align-items: baseline;
    align-content: center;
}

.product-card {
    width: 200px;
    box-sizing: border-box;
}

.product-image {
    max-width: 100%;
}

.products-pages-container {
    display: flex;
    justify-content: center;
    align-content: baseline;
    gap: 5%;
    padding-top: 5%;
    font-size: 1.5em;
}

.arrow-icon {
    width: 100%;
}

.products-pages-arrow {
    width: 30px;
    height: 30px;
}

.products-pages-number {
    color: var(--cor4);
    font-weight: normal;
    text-decoration: none;
    width: 14px;
}

.products-pages-number:active {
    font-weight: bolder;
    text-decoration: underline;
}
